body {background-image:url(/media/imagen/fondo.jpg);background-size: 100% 100%;background-attachment: fixed;}
nav{text-align: center;}
header{text-align: center; clear: both;background-image: url(/media/imagen/banner2.png);width: 1350px;height:150px; }
p{text-align: justify;padding-left: 50px;padding-right: 50px;width: 80%;}
aside[name="banner"]{float: right;}
footer{clear: both;text-align: center;padding-top: 100px;}
section{text-align: justify;}
cartaPresentacion{background: black;}
nombre{background-color: white;}
contacto{background-color: white;}


* {margin:0px; padding:0px;}
			
			#header {margin:auto; width:500px; font-family:Arial, Helvetica, sans-serif;}
			ul, ol {list-style:none;}
			.nav > li {float:left; }
			.nav li a {background-color:#000; color:#fff; text-decoration:none; padding:10px 12px; display:block;}
			.nav li a:hover {background-color:#434343;}
			.nav li ul {display:none; position:absolute; min-width:140px;}
			.nav li:hover > ul {display:block;}
			.nav li ul li {position:relative;}
			.nav li ul li ul {	right:-140px; top:0px;}