body {background-image:url(../media/imagen/fondo.jpg);
      background-size: 100% 100%;
      background-attachment: fixed;
	  			
	}
h1{font-size: 50px}

nav{text-align: center;}
header{text-align: center;
	background-color: blue;
	background-size: 50px 400px;}
p{text-align: justify;padding-left: 50px;}
aside{float: left;width: 200px;padding-right: 50px;}
footer{clear: both;text-align: center;padding-top: 100px;}
cartaPresentacion{background: black;}
nombre{background-color: white;}
contacto{background-color: white}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

ul#menu-horizontal ul {
display: none;
position: relative;
top: 24;
left:0;
margin:0;
padding:0;
background:#FFFFFF;
}

ul#menu-horizontal ul li {
display: block !important;
}

ul#menu-horizontal li:hover ul{
display: none;
}

ul#menu-horizontal li:hover ul{
display: block;
}

/* footer */

.footer-style {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}

footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

footer p {text-align: center;}